go 1.19

use ./17-reading-files/blogposts

use ./18-templating/blog

use ./19-generics/generics

use ./20-generic-arrays-slices/sums

use (
	./22-scaling-acceptance-tests/go-specs-greet
	./23-build-an-application
)
